# This is a basic workflow to help you get started with Actions

name: Auto PR Review

# Controls when the workflow will run
on:
  pull_request:
    branches:
      - "main"
jobs:
  review:
    runs-on: ubuntu-latest
    name: PR Auto Review

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run tests
        run: npm test
        
